<div class="changpinAuthor_box">
     <header class='changpinAuthor_box_header'>
        <a href="javascript:;" class="icon" ui-sref="mingxing.detail">&#xe697;</a>
        <a href="javascript:;" class="iconfont">&#xe676;</a>
        <a href="javascript:;" class="iconfont">&#xe614;</a>
        <a href="javascript:;" class="iconfont">&#xe604;</a>
        <a href="javascript:;" class="iconfont">&#xe629;</a>
    </header>
    
    <div class="changpinAuthor_info">
        <a ui-sref="login">联系他</a>
        <a href="javascript:;">
            <img src="src/images/57cd04434321a.jpg" alt="">
            <p>李逖</p>
        </a>
        <a ui-sref="login">关注他</a>
    </div>
    <div class="changpinAuthor_banner">
        <img src="src/images/57cd21a820994qp36.jpeg" alt="">
    </div>
    
    <div class="changpinAuthor_look">
        <h2 ng-click="mingxingLook()" class="lookDown">查看茗星详情<i class="iconfont">&#xe65c;</i></h2>
        <div class="changpinAuthor_msg" style="display:none">
            <h3>人物介绍</h3>
            <p><br> 玩，要以心役物，不能被物控制<br>文玩大家李逖<br></p>
            <p><br> 作为老北京，李逖对北京的一草一木、一砖一瓦都有着深厚的感情，更不用说自幼耳濡目染、底蕴深厚的老北京文化。<br></p>
            <p><br> 文玩、文物，茶，是李逖最大的爱好，曾在嘉禾、重华等拍卖行负责玉器和瓷杂的鉴定收购工作，近年则在北京圆明畅和担任艺术总监，也曾多次受文化部委派赴德国法国俄罗斯等国宣传中国传统文化。<br></p>
            <p><br> 熟悉李逖的朋友都知道，只要一说到古玩，无论是唐宋元明清的文玩，还是高古的时代特点、风格表现，李逖都是滔滔不绝、如数家珍，活脱脱一真人版“古玩百科全书”。<br></p>
            <img src="src/images/57cd21a82f75660al.jpeg" alt="">
            <p><br> 茶具、珠子、玉器……全是你想不到的老物件<br></p>
            <p><br> 小时候的李逖，最开心的事就是去京城的琉璃厂淘东西，那些带着古老气息的老物件，每一样都让李逖非常兴奋。<br></p>
            <p><br> 长大之后，在古玩行业做事，接触了更多高手，他喜欢和古玩高手们沟通交流，在这种文化氛围里，李逖逐渐形成了自己的鉴赏体系。<br></p>
            <img src="src/images/57cd21a84378353tf.jpeg" alt="">
            <p><br> 如果你去过李逖的家，一定会被摆满了书、玉器、瓷器、珠子等各种古玩的架子震惊。因为老物件实在太多，李逖甚至直接把一面墙做成了落地的收藏品摆设架，专门拿来陈列各种古老的器物，比如高古的珠子、玉器、宋盏、清瓷器、古钱币……<br></p>
            <p><br> 在他桌子上，就摆放了一套清代海捞瓷的杯子。这套杯子是史上贸易最久的一批茶具，独具历史意义。各路辗转，最终被李逖高价收了回来。<br></p>
            <p><br> 李逖介绍道：“不要小看这套茶具：这是一套清雍正1723年金瓯号（Ca Mau)打捞上来的瓷器， 1998年在荷兰苏富比拍卖回来的。”<br></p>
            <img src="src/images/57cd21a85784b1a5h.jpeg" alt="">
            <h4 ng-click="mingxingLook()" class="lookUp">收起茗星详情<i class="iconfont">&#xe65c;</i></h4>
        </div>
    </div>
    
    <div class="changpinAuthor_bot">
       <div class="changpinAuthor_link">
           <a href="#" ui-sref-active="active" class="active">全部</a>
           <a href="#" ui-sref-active="active">人气</a>
       </div>
       <div class="changpinAuthor_list">
            <a href="javascript:;">
               <dl>
                  <dt> <img src="src/images/57cd30449f57fqgll.jpeg"></dt>
                  <dd>
                       <h3 class="name line_clamp">
                            <span class="person-type">大师<em class="dot">
                                </em>手制<em class="v-line">|</em>
                            </span>
                            红茶·轻柔浓厚川红工夫 
                        </h3>
                        <div class="info">
                            <span class="price">￥128.00</span>
                            <span class="sell-count fr">已售 414</span>
                        </div>
                  </dd> 
               </dl>
            </a>
        
           <a href="javascript:;">
               <dl>
                  <dt> <img src="src/images/57cd316e968a6q741.jpeg"></dt>
                  <dd>
                       <h3 class="name line_clamp">
                            <span class="person-type">大师<em class="dot">
                                </em>手制<em class="v-line">|</em>
                            </span>
                            红茶·轻柔浓厚川红工夫 
                        </h3>
                        <div class="info">
                            <span class="price">￥128.00</span>
                            <span class="sell-count fr">已售 414</span>
                        </div>
                  </dd> 
               </dl>
            </a>
       </div>
       
    </div>
</div>