<div class="find_box">
    <header class='find_box_header'>
        <a href="javascript:;" class="icon" ng-click="back()">&#xe697;</a>
        <a href="javascript:;" class="iconfont">&#xe64c;</a>
        <a href="javascript:;" class="iconfont" ui-sref="search">&#xe672;</a>
        <a href="javascript:;" class="iconfont" ui-sref="login">&#xe648;</a>
    </header>

    <div class="find_link">
        <a href="javascript:;">
            <span>分类</span>
            <i class="iconfont clickDown">&#xe65c;</i>
        </a>
        <a href="javascript:;">
            <span>出品</span>
            <i class="iconfont clickDown">&#xe65c;</i>
        </a>
        <a href="javascript:;">
            <span>类型</span>
            <i class="iconfont clickDown">&#xe65c;</i>
        </a>
        <a href="javascript:;">
            <span>排序</span>
            <i class="iconfont clickDown">&#xe65c;</i>
        </a>
    </div>

    <div class="find_list">
        <a ui-sref="findDetail">
            <dl>
                <dt> <img src="src/images/56efe6a94e7e080ys.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                        <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                        红茶·轻柔浓厚川红工夫 
                    </h3>
                    <div class="info">
                        <span class="price">￥128.00</span>
                        <span class="sell-count fr">已售 414</span>
                    </div>
                </dd>
            </dl>
        </a>

        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/68057b43387e181d.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                        <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                        
                        乌龙茶·凤凰单丛红丝线  
                    </h3>
                    <div class="info">
                        <span class="price">￥238.00</span>
                        <span class="sell-count fr">已售 169</span>
                    </div>
                </dd>
            </dl>
        </a>
        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/95257b437d8e2ee9.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                        
                        正宗新会老陈皮 11年陈   
                    </h3>
                    <div class="info">
                        <span class="price">￥898.00</span>
                        <span class="sell-count fr">已售 618</span>
                    </div>
                </dd>
            </dl>
        </a>
        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/20657b4357b5f369.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                        岩茶·天心村斗茶赛状元茶  
                    </h3>
                    <div class="info">
                        <span class="price">￥1666.00</span>
                        <span class="sell-count fr">已售 16</span>
                    </div>
                </dd>
            </dl>
        </a>

        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/82557deb23da6a8e.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                       <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                        黑茶·12年陈六堡茶玄韵   
                    </h3>
                    <div class="info">
                        <span class="price">￥298.00</span>
                        <span class="sell-count fr">已售 235</span>
                    </div>
                </dd>
            </dl>
        </a>

        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/5795718e14261e05.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                       <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                        乌龙茶·凤凰单丛蜜兰香        
                    </h3>
                    <div class="info">
                        <span class="price">￥358.00</span>
                        <span class="sell-count fr">已售 156</span>
                    </div>
                </dd>
            </dl>
        </a>

        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/52057b434aecaec1.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                       <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                        绿茶·明前春茶 巴南银针        
                    </h3>
                    <div class="info">
                        <span class="price">￥158.00</span>
                        <span class="sell-count fr">已售 301</span>
                    </div>
                </dd>
            </dl>
        </a>

        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/33057b432c8a4443.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                       <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                         乌龙茶·凤凰单丛蜜兰香         
                    </h3>
                    <div class="info">
                        <span class="price">￥348.00</span>
                        <span class="sell-count fr">已售 222</span>
                    </div>
                </dd>
            </dl>
        </a>

        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/35957deb21629a5a.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                       <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                          红茶·5年陈祁门红茶国         
                    </h3>
                    <div class="info">
                        <span class="price">￥349.00</span>
                        <span class="sell-count fr">已售 1949</span>
                    </div>
                </dd>
            </dl>
        </a>

        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/79557dfe8ede6ec6.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                       <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                          越南惠安水沉香双支装         
                    </h3>
                    <div class="info">
                        <span class="price">￥198.00</span>
                        <span class="sell-count fr">已售 1120</span>
                    </div>
                </dd>
            </dl>
        </a>
        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/15857e0fcb34fbc0.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                       <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                          乌龙茶·凤凰单丛稻花香          
                    </h3>
                    <div class="info">
                        <span class="price">￥260.00</span>
                        <span class="sell-count fr">已售 446</span>
                    </div>
                </dd>
            </dl>
        </a>
        <a ui-sref="findDetail">
            <dl>
                <dt><img src="src/images/61357bae63b79f54.jpg"></dt>
                <dd>
                    <h3 class="name line_clamp">
                       <span class="person-type">大师<em class="dot">
                            </em>手制<em class="v-line">|</em>
                        </span>
                          越南惠安水沉香双支装         
                    </h3>
                    <div class="info">
                        <span class="price">￥398.00</span>
                        <span class="sell-count fr">已售 46</span>
                    </div>
                </dd>
            </dl>
        </a>
    </div>


    <div class="container">
        <div class="fenlei">
            <ul>
                <li ng-click="findController()" class="fenleiAll"><a>全部</a></li>
                <li>
                    <a href="javascript:;" class="linkA">
                        <i class="iconfont">&#xe65c;</i>
                        <em>茶叶</em>
                    </a>
                    <ul class="find_chaye find_ul">
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_all.png" alt="">
                                <span>全部</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_01.png" alt="">
                                <span>绿茶</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_02.png" alt="">
                                <span>乌龙</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_03.png" alt="">
                                <span>红茶</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_04.png" alt="">
                                <span>普洱</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_05.png" alt="">
                                <span>黑茶</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_06.png" alt="">
                                <span>白茶</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_07.png" alt="">
                                <span>黄茶</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_08.png" alt="">
                                <span>花茶</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="src/images/ico_tea_09.png" alt="">
                                <span>袋泡</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript:;" class="linkA">
                        <i class="iconfont">&#xe65c;</i>
                        <em>茶器</em>
                    </a>
                    <ul class="find_chaqi find_ul">
                        <li>
                            <a href="javascript:;">
                               全部
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               茶杯
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               茶壶
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               紫砂茶具
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               陶瓷茶具
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               漆器茶具
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               银质茶具
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               铁质茶具
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               铜制茶具
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               玻璃器
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               竹木茶具
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               茶盒
                           </a>
                        </li>


                    </ul>

                </li>
                <li>
                    <a href="javascript:;" class="linkA">
                        <i class="iconfont">&#xe65c;</i>
                        <em>香道</em>
                    </a>

                    <ul class="find_xiangdao find_ul">
                        <li>
                            <a href="javascript:;">
                               全部
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               香材
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               成品香
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               香道器具
                           </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="linkA">
                        <i class="iconfont">&#xe65c;</i>
                        <em>茶周边</em>
                    </a>
                    <ul class="find_zhoubian find_ul">
                        <li>
                            <a href="javascript:;">
                               全部
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               茶席
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               茶家具
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               茶空间设计
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                              个性定制
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               集团定制
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                              日用品
                           </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="linkA">
                        <i class="iconfont">&#xe65c;</i>
                        <em>中式服饰</em>
                    </a>
                    <ul class="find_fushi find_ul">
                        <li>
                            <a href="javascript:;">
                               全部
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               男装
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               女装
                           </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="chupin">
            <ul>
                <li><a href="">全部</a></li>
                <li>
                    <a href="javascript:;" class="linkA">
                        <i class="iconfont">&#xe65c;</i><em>大师</em>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:;">
                               全部
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               作品
                           </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="linkA">
                        <i class="iconfont">&#xe65c;</i><em>名家</em>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:;">
                               全部
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               作品
                           </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="linkA">
                        <i class="iconfont">&#xe65c;</i><em>茗星</em>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:;">
                               全部
                           </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                               作品
                           </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="leixing">
            <ul>
                <li><a href="javascript:;">全部</a></li>
                <li><a href="javascript:;">手制</a></li>
                <li><a href="javascript:;">监制</a></li>
                <li><a href="javascript:;">藏品</a></li>
                <li><a href="javascript:;">品牌</a></li>
            </ul>
        </div>
        <div class="paixu">
            <ul>
                <li><a href="javascript:;">综合排序</a></li>
                <li><a href="javascript:;">价格由高到低</a></li>
                <li><a href="javascript:;">价格由低到高</a></li>
            </ul>
        </div>
    </div>
</div>