<div class="hc_wrap">
    <header class="hc_header">
        <span class="icon" ng-click="login()">&#xe697;</span>
        <div class="hc_hide">
            <h3>开园茶抢先预售，非遗传人...</h3>
        </div>
        <div class="hc_show">
            <a href="javascript:;" class="iconfont" ng-click="share()">&#xe64c;</a>
            <a href="javascript:;" class="iconfont" ui-sref="login">&#xe648;</a>
        </div>
    </header>
    <main class="hc_main">
        <div class="hc_main_imgs">
            <img src="./src/images/hc_imgs.png" />
        </div>
        <div class="hc_main_xq">
            <div class="hc_main_xq_header">
                <span></span>
                <h3>点击了解</h3>
                <span></span>
            </div>
            <div class="hc_main_xq_btn">
                <span>什么是开园茶?</span>
                <span>什么是明前茶?</span>
            </div>
        </div>
        <div class="hc_main_con">
            <div class="hc_main_con_one">
                <dl class="img">
                    <dt><img src="./src/images/64058a0fbdc1a763.jpg" /></dt>
                    <dd>
                        <h4>距离预售结束还有：9天9小时22分</h4>
                        <p>预计采摘时间：02月17日-02月20日</p>
                        <p>预计发货时间：02月28日</p>
                    </dd>
                </dl>

                <div class="detail">
                    <h3> 开园茶 | <strong>宜宾早茶·林湖雀舌</strong></h3>
                    <p class="original-price">开园茶去年同期市场价：332元/100g<em></em></p>
                    <p class="yu-price">茶语预售价: <em>258.00元/100g</em></p>
                    <span>已预定: 147份</span>
                    <p class="btn-group">
                        <a href="javascript:;">立即购买</a>
                        <a href="javascript:;">查看详情</a>
                    </p>
                </div>
                <div class="person">
                    <dl>
                        <dt><img src="./src/images/563c36a88af26.jpg" /></dt>
                        <dd>
                            <p class="name">大师 | 监制</p>
                            <p class="sun">孙洪 川红工夫制作技艺非遗传承人</p>
                        </dd>
                    </dl>
                </div>
                <div class="source">
                    <p>
                        <strong>产地：</strong>产自海拔1000-1400米左右的高山生态茶园，地处“中国早茶之乡”宜宾，是全国同纬度地区茶树萌发较早的地区。
                    </p>
                    <p>
                        <strong>原料：</strong>采自海拔1400米左右的鲜嫩芽头
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>