<div class="listImgBuy_box">
    <header class='listImgBuy_box_header'>
        <a href="javascript:;" class="icon" ng-click="back()">&#xe697;</a>
        <a href="javascript:;" class="iconfont">&#xe676;</a>
        <a href="javascript:;" class="iconfont">&#xe614;</a>
        <a href="javascript:;" class="iconfont">&#xe604;</a>
        <a href="javascript:;" class="iconfont">&#xe629;</a>
    </header>
    <img-slider></img-slider>
    <div class="slider_info">

        <div class="pro_info">
            <h3>
                <span>
                   茗星&nbsp;品牌<em class="v-line">|</em>
                </span>
                十年匠心凝制吉州窑木叶盏 
                <a href="#" class="iconfont">
                    <em>&#xe619;</em>
                    <b>喜欢</b>
                </a>                     
            </h3>
            <div class="pro_price">
                <span>￥238</span>
                <b>已售39</b>
                <p><a href="javascript:;">App购买立减10元，立即前往&gt;&gt;</a></p>
            </div>

        </div>

    </div>

    <div class="to_area">
        <span class="iconfont">&gt;</span> 送至：
        <a href="javascript:;">北京</a>(运费：￥0.00元)
    </div>

    <div class="toAreaList">
        <ul class="toAreaList_ul">
            <li>
                <b class="iconfont">&#xe60a;</b>
                <span>配送至</span>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>北京</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>天津</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>河北</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>辽宁</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>上海</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>天津</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>河北</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>辽宁</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>上海</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>天津</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>河北</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>辽宁</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>上海</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>天津</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>河北</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>辽宁</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>上海</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>天津</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>河北</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>辽宁</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>上海</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>天津</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>河北</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>辽宁</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>上海</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>天津</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>河北</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>辽宁</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>上海</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>天津</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>河北</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>辽宁</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63a;</i>
                    <span>上海</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="listImgBuy_detail">
        <nav>
            <ul>
                <li ui-sref-active="active" class="active">
                    <a ui-sref="listImgBuy.detail">作品详情</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="listImgBuy.baseMsg">基本信息</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="listImgBuy.comment">评价(<span>8</span>)</a>
                </li>
            </ul>
        </nav>
        <ui-view></ui-view>
    </div>

    <div class="listImgDetail_footer">
        <a ui-sref="buyCar">
            <i class="iconfont">&#xe678;</i>
            <span>购物车</span>
        </a>
        <a href="javascript:;" ng-click="service()">
            <i class="iconfont">&#xe63a;</i>
            <span>客服</span>
        </a>
        <a ui-sref="login">
            <i class="iconfont">&#xe619;</i>
            <span>收藏</span>
        </a>
        <a href="javascript:;">
           已售罄
       </a>
        <!--<a href="javascript:;">
           加入购物车
       </a>
       <a href="javascript:;">
           立即购买
       </a>-->
    </div>

</div>