<div class="mxChangpin_box">
    <header class='mxChangpin_box_header'>
        <a href="javascript:;" class="icon" ui-sref="mingxing.detail">&#xe697;</a>
        <a href="javascript:;" class="iconfont">&#xe676;</a>
        <a href="javascript:;" class="iconfont">&#xe614;</a>
        <a href="javascript:;" class="iconfont">&#xe604;</a>
        <a href="javascript:;" class="iconfont">&#xe629;</a>
    </header>
    
    <div class="mxChangpin_imgList">
        <img src="src/images/57cd2eb6da73c1e9x.jpeg" alt="">
        <img src="src/images/57cd2eb6f1e1e373z.jpeg" alt="">
        <img src="src/images/57cd2eb7156a74t9u.jpeg" alt="">
        <img src="src/images/57cd2eb743cdf3ff3.jpeg" alt="">
        <img src="src/images/57cd2eb753f2aqkoe.jpeg" alt="">
        <img src="src/images/57cd2eb76cc74up30.jpeg" alt="">      
        <img src="src/images/57cd2eb784dafvabb.jpeg" alt="">
        <img src="src/images/57cd2eb79652fi1o7.jpeg" alt="">
        <img src="src/images/57cd2eb7aa324kkvy.jpeg" alt="">
    </div>
    
    <div class="mxChangpin_like">
        <h3>
            <b><i class="iconfont">&#xe619;</i>喜欢</b><span>茗星 藏品 |</span>春秋竹节式玛瑙管
        </h3>
        <p>
            <span>已售0</span>
            <span>库存1</span>
            <em>￥4500</em>
            
        </p>
    </div>
    
    <div class="mxChangpin_info">
         <h3>
            <b><i class="iconfont">&#xe619;</i>喜欢</b><span>茗星 藏品 |</span>春秋竹节式玛瑙管
        </h3>
        <p>
            <span>已售0</span>
            <span>库存1</span>
            <em>￥4500</em>           
        </p>
        <p>年代:春秋时期</p>
        <p>最大直径:5.8毫米</p>
        <p>高度:34毫米</p>
        <p>玛瑙也作码瑙、马瑙、马脑等，是玉髓类矿物的一种，经常是混有蛋白石和隐晶质石英的纹带状块体，硬度6.5-7度，比重2.65，色彩相当有层次。有半透明或不透明的。原形态三方晶系。常呈致密块状而形成各种构造，如乳房状、葡萄状、结核状等，常见的为同心圆构造。具有不同颜色构成的玉髓，通常有，绿、红、黄、褐，白等多种颜色。按图案和杂质可分为缟玛瑙、缠丝玛瑙、苔玛瑙，城堡玛瑙等。常用作玩物、观赏物、饰物或玩赏物。（以上描述均为茗星个人观点，不代表茶语网立场）</p>
        
        <p>评价(0)</p>
    </div>
    <div class="mxChangpin_bot">
        <a href="javascript:;">联系他</a>
        <a href="javascript:;">
            <img src="src/images/57cd04434321a.jpg" alt="">
            <p>李逖</p>
        </a>
        <a href="javascript:;">关注他</a>
    </div>
    <div class="mxChangpin_footer">
       <a ui-sref="buyCar">
           <i class="iconfont">&#xe678;</i>
           <span>购物车</span>
       </a>
       <a href="javascript:;" ng-click="service()">
           <i class="iconfont">&#xe63a;</i>
           <span>客服</span>
       </a>
       <a ui-sref="login">
           <i class="iconfont">&#xe619;</i>
           <span>收藏</span>
       </a>
       <a href="javascript:;" ng-click="addCar()">
           加入购物车
       </a>
       <a href="javascript:;" ng-click="addCar()">
          立即购买
       </a>
   </div>
</div>