<div class='y_box'>
	<header class="header">
        <a href="javascript:;" class="iconfont" ui-sref='first.detail'>&#xe8a6;</a>
        <a href="javascript:;" class="iconfont a2">&#xe64c;</a>
        <a href="javascript:;" class="iconfont">&#xe672;</a>
        <a href="javascript:;" class="iconfont">&#xe648;</a>
    </header>
    <nav class='y_nav'>
    	<a href="javascript:;" ng-click='down()'>全部分类<span class="iconfont">&#xe648;</span></a>
    	<a href="javascript:;" ng-click='down()'>人气<span class="iconfont">&#xe65c;</span></a>
    </nav>
    <div class='y_section'>
		<div class='y_main'>
			<dl>
				<dt><img src="src/images/15857e0fcb34fbc0.jpg" alt=""></dt>
				<dd>
					<h1>学茶</h1>
					<p>关注：4561</p>
					<p>话题：45612</p>
					<p>圈主：暂无</p>
					<span ui-sref='login'>+ 关注</span>
				</dd>
			</dl>
			<dl>
				<dt><img src="src/images/438589ae815cc458.jpg" alt=""></dt>
				<dd>
					<h1>春茶季</h1>
					<p>关注：4561</p>
					<p>话题：45612</p>
					<p>圈主：暂无</p>
					<span ui-sref='login'>+ 关注</span>
				</dd>
			</dl>
			<dl>
				<dt><img src="src/images/95257b437d8e2ee9.jpg" alt=""></dt>
				<dd>
					<h1>晒茶</h1>
					<p>关注：4561</p>
					<p>话题：45612</p>
					<p>圈主：暂无</p>
					<span ui-sref='login'>+ 关注</span>
				</dd>
			</dl>
			<dl>
				<dt><img src="src/images/68057b43387e181d.jpg" alt=""></dt>
				<dd>
					<h1>约茶</h1>
					<p>关注：4561</p>
					<p>话题：45612</p>
					<p>圈主：暂无</p>
					<span ui-sref='login'>+ 关注</span>
				</dd>
			</dl>
		</div>
		<div class='y_left'>
			<ul>
				<li>全部</li>
				<li>茶友</li>
				<li>器物</li>
				<li>活动</li>
				<li>茶语公告</li>
				<li>咨询反馈</li>
			</ul>
		</div>
		<div class='y_right'>
			<ul>
				<li>最新</li>
				<li>人气</li>
			</ul>
		</div>
	</div>
</div>